<template>
    <v-card
            max-width="344"
            class="mx-auto user-card text-center"
    >
        <v-card-title>Album info</v-card-title>
        <v-card-text>Title: {{title}}<br>
            User: {{user}}<br>
        </v-card-text>
        <slot name="button"></slot>
    </v-card>
</template>

<script>
    export default {
        name: "UserCard",
        props: {
            album: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                id: this.album.id,
                title: this.album.title,
                user: this.album.user,
            }
        }
    }
</script>

<style scoped>

</style>