<template>
    <tr>
        <td>
            <router-link :to="{name:'show',params:{id:id}}">{{title}}</router-link>
        </td>
        <td>{{userName}}</td>
    </tr>
</template>

<script>
    export default {
        name: "AlbumItem",
        props: {
            album: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                id: this.album.id,
                title: this.album.title,
                userName: this.album.user_name,
            }
        }
    }
</script>

<style scoped>

</style>