<template>
    <v-container grid-list-md text-center>
        <v-layout wrap>
            <v-flex :key="`5${1}`" xs5>
                <v-data-table
                        :headers="headers"
                >
                    <template v-slot:body="{items}">
                        <template v-for="album in albumsWithUsername">
                            <album-item  :album="album"></album-item>
                        </template>
                    </template>
                </v-data-table>
            </v-flex>
            <v-flex :key="`7${2}`" xs7>
                <v-layout wrap>
                    <v-flex xs12 md6>
                        <v-text-field
                                v-model="user"
                                :rules="userRules"
                                label="user"
                                @input="search"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex d-flex>
                        <v-layout wrap>
<!--                            <v-flex v-if="searchUsersCards!==[]" justify-center md-12 xs12>-->
<!--                                <album-card v-for="user in searchUsersCards" :user="user" ></album-card>-->
<!--                            </v-flex>-->

                            <v-flex v-if="error===true" justify-center d-flex md-9 xs12>
                                <v-alert type="error">
                                    Fill all fields
                                </v-alert>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>
    import {mapState, mapGetters, mapActions} from "vuex"
    import AlbumItem from './AlbumItem';

    export default {
        name: "Albums",
        components: {AlbumItem},
        data() {
            return {
                headers: [
                    {
                        text: 'Title',
                        align: 'left',
                        sortable: false,
                        value: 'title'
                    },
                    {
                        text: 'User',
                        value: 'user'
                    }
                ],
                user: '',
                userRules: [
                    v => !!v || 'Name is required',
                ],
                error: false

            }
        },
        computed: {
            ...mapState("albums", ["albums"]),
            ...mapState('users', ['users']),
            albumsWithUsername() {
                return this.albums.map(album => {
                    let userName = '';
                    for (let user of this.users) {
                        if (user.id === album.userId) {
                            userName = user.name;
                            break;
                        }
                    }
                    album['user_name'] = userName;
                    return album;
                });
            }
        },
        methods: {
            // ...mapActions('users', {
            //     searchUser: SEARCH_ALBUM
            // }),
            search() {
                // this.error = false;
                // let payload = {searchData: this.searchData, criterion: this.criterion};
                // this.searchUser(payload).catch(() => this.error = true);
            }
        }
    }
</script>

<style scoped>

</style>