<template>
    <v-layout column align-center>
        <v-form
                ref="form"
        >
            <v-text-field
                    v-model="name"
                    :counter="20"
                    :rules="nameRules"
                    label="Name"
                    required
            ></v-text-field>

            <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
            ></v-text-field>

            <v-text-field
                    v-model="phone"
                    :rules="phoneRules"
                    label="Phone"
                    required
            ></v-text-field>

            <v-btn color="primary"
                   @click="createUser"
            >Create user
            </v-btn>
        </v-form>
        <v-flex v-if="error===true" class="add-user-error" justify-center d-flex md-9 xs12>
            <v-alert type="error">
                Fill all fields
            </v-alert>
        </v-flex>
    </v-layout>

</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {ADD_USER} from "../store/modules/users/types/actions";
    import {GET_LAST_USER_ID} from "../store/modules/users/types/getters";

    export default {
        name: "UserAdd",
        data() {
            return {
                name: '',
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 20) || 'Name must be less than 10 characters',
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                phone: '',
                phoneRules: [
                    v => !!v || 'Phone is required',
                ],
                error: false
            }
        },
        computed: {
            ...mapGetters('users', {
                lastUserId: GET_LAST_USER_ID
            })
        },
        methods: {
            ...mapActions('users', {
                create: ADD_USER
            }),
            createUser() {
                this.error = false;
                if (this.name === '' || this.email === '' || this.phone === '') {
                    this.error = true;
                    return;
                }

                let user = {
                    id: this.lastUserId + 1,
                    name: this.name,
                    email: this.email,
                    phone: this.phone
                };
                this.create(user);
                this.$router.push('/users');
            }
        }
    }
</script>

<style scoped>
    .add-user-error {
        margin-top: 40px;
    }
</style>