<template>
    <v-card
            max-width="344"
            class="mx-auto user-card text-center"
    >
        <v-card-title>User info</v-card-title>
        <v-card-text>Name: {{name}}<br>
            Email: {{email}}<br>
            Phone: {{phone}}<br>
        </v-card-text>
        <slot name="button"></slot>
    </v-card>
</template>

<script>
    export default {
        name: "UserCard",
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                id: this.user.id,
                name: this.user.name,
                email: this.user.email,
                phone: this.user.phone
            }
        }
    }
</script>

<style scoped>

</style>