<template>
    <v-container grid-list-md text-center>
        <v-layout wrap>
            <v-flex xs12>
                <user-card :user="currentUser">
                    <template v-slot:button>
                        <v-btn @click="edit = !edit">Edit</v-btn>
                    </template>
                </user-card>
            </v-flex>
            <v-flex xs6 v-if="edit===true">
                <v-form
                        ref="form"

                >
                    <v-text-field
                            v-model="name"
                            :counter="20"
                            :rules="nameRules"
                            label="Name"
                            required
                    ></v-text-field>
                    <v-text-field
                            v-model="email"
                            :rules="emailRules"
                            label="E-mail"
                            required
                    ></v-text-field>
                    <v-text-field
                            v-model="phone"
                            :rules="phoneRules"
                            label="Phone"
                            required
                    ></v-text-field>
                    <v-btn color="primary"
                           @click="editUser"
                    >Edit user
                    </v-btn>
                    <v-btn color="primary"
                           @click="deleteUser"
                    >Delete user
                    </v-btn>
                </v-form>
                <v-flex v-if="error===true" class="add-user-error" justify-center d-flex md-9 xs12>
                    <v-alert type="error">
                        Fill all fields
                    </v-alert>
                </v-flex>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {mapState, mapGetters, mapActions} from "vuex"
    import {GET_USER_BY_ID} from "../store/modules/users/types/getters";
    import UserCard from "./UserCard";
    import {DELETE_USER, EDIT_USER} from "../store/modules/users/types/actions";

    export default {
        name: "User",
        components: {UserCard},
        data() {
            return {
                edit: false,
                id: this.$route.params.id,
                name: '',
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 20) || 'Name must be less than 10 characters',
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                phone: '',
                phoneRules: [
                    v => !!v || 'Phone is required',
                ],
                error: false,
                currentUser: null
            }
        },
        computed: {
            ...mapState("users", ["users"]),
            ...mapGetters('users', {
                getUserById: GET_USER_BY_ID
            }),
        },

        beforeRouteUpdate(to, from, next) {
            this.id = to.params.id;
            next();
        },
        created() {
            this.getUser();
        },
        methods: {
            ...mapActions('users', {
                delete: DELETE_USER,
                update: EDIT_USER
            }),
            getUser() {
                let id = this.$route.params.id;
                this.currentUser = this.getUserById(id);

                this.name = this.currentUser.name;
                this.email = this.currentUser.email;
                this.phone = this.currentUser.phone;
            },
            editUser() {
                this.error = false;
                if (this.name === '' || this.email === '' || this.phone === '') {
                    this.error = true;
                    return;
                }

                let user = {
                    id: this.id,
                    name: this.name,
                    email: this.email,
                    phone: this.phone
                };
                // this.$store.dispatch('users/editUser', user);
                this.update(user);
                this.$router.push('/users');
            },
            deleteUser() {
                this.delete(this.id);
                this.$router.push('/users');
            }
        }
    }
</script>

<style scoped>

</style>