<template>
    <v-container grid-list-md text-center>
        <v-layout wrap>
            <v-flex :key="`7${1}`" xs7>
                <v-data-table
                        :headers="headers"
                >
                    <template v-slot:body="{items}">
                        <template v-for="user in users">
                            <user-item :key="user.id" :user="user"></user-item>
                        </template>
                    </template>
                </v-data-table>
            </v-flex>
            <v-flex :key="`5${2}`" xs5>
                <v-layout wrap>
                    <v-flex xs12 md6>
                        <v-text-field
                                v-model="searchData"
                                :rules="searchDataRules"
                                label="Name or email"
                                @input="search"
                                :disabled="disabledInput"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6>
                        <v-radio-group v-model="criterion">
                            <v-radio
                                    :label="`Search by name`"
                                    :value="'name'"
                            ></v-radio>
                            <v-radio
                                    :label="`Search by email`"
                                    :value="'email'"
                            ></v-radio>
                        </v-radio-group>
                    </v-flex>
                    <v-flex d-flex>
                        <v-layout wrap>
                            <v-flex v-if="searchUsersCards!==[]" justify-center md-12 xs12>
                                <user-card v-for="user in searchUsersCards" :user="user" :key="user.id"></user-card>
                            </v-flex>
                            <v-flex v-if="error===true" justify-center d-flex md-9 xs12>
                                <v-alert type="error">
                                    Fill all fields
                                </v-alert>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>

    import {mapState, mapActions} from "vuex"
    import UserItem from "./UserItem"
    import UserCard from './UserCard'
    import {SEARCH_USER} from "../store/modules/users/types/actions";

    export default {
        name: "Users",
        components: {UserItem, UserCard},
        data() {
            return {
                headers: [
                    {
                        text: 'Name',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    {
                        text: 'Email',
                        value: 'email',
                    },
                    {
                        text: 'Phone',
                        value: 'phone'
                    }
                ],
                searchData: '',
                searchDataRules: [
                    v => !!v || 'Name is required',
                ],
                criterion: '',
                error: false
            }
        },
        computed: {
            ...mapState("users", ["users", "searchUsersCards"]),
            disabledInput: function () {
                return this.criterion === '' ? true : false;
            }
        },

        methods: {
            ...mapActions('users', {
                searchUser: SEARCH_USER
            }),
            search() {
                this.error = false;
                let payload = {searchData: this.searchData, criterion: this.criterion};
                this.searchUser(payload).catch(() => this.error = true);
            }
        }
    }
</script>

<style scoped>
    .user-card {
        margin-top: 10px;
    }
</style>