<template>
    <tr>
        <td>
            <router-link :to="{name:'show',params:{id:id}}">{{name}}</router-link>
        </td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
    </tr>

</template>

<script>
    export default {
        name: "UserItem",
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                id: this.user.id,
                name: this.user.name,
                email: this.user.email,
                phone: this.user.phone
            }
        }
    }
</script>

<style scoped>

</style>