<template>
    <v-app>
        <v-app-bar app>
            <v-toolbar-title class="headline text-uppercase">
                <span>Vuetify</span>
                <span class="font-weight-light">MATERIAL DESIGN</span>
            </v-toolbar-title>
        </v-app-bar>

        <v-content>
            <v-toolbar-items>
                <v-btn text>
                    <router-link to="/users" exact>Users</router-link>
                </v-btn>
                <v-btn text>
                    <router-link to="/users/add" exact>Add user</router-link>
                </v-btn>
                <v-btn text>
                    <router-link to="/albums" exact>Albums</router-link>
                </v-btn>
            </v-toolbar-items>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>

    export default {
        name: 'App',
        components: {
        },
        data: () => ({
            //
        }),
    };
</script>
